# SPDX-FileCopyrightText: 2021 - 2023 Mewbot Developers <mewbot@quicksilver.london>
#
# SPDX-License-Identifier: CC0-1.0

# Caching directories
/.local/
/.cache/
__pycache__/
.mypy_cache/

# IDE and development environment
venv/
.idea/
.tox
.project
.pydevproject

# Build enivornment
# - Including all the environments in plugins
*.egg-info/
build/
docs_build/
dist/

# Secrets and local configuration
examples/TrivialDiscordBot/secrets.json

# Coverage artefacts
/.coverage
/.coverage.*
/coverage/
/reports/
/.pytest_cache/
/junit.xml
