# SPDX-FileCopyrightText: 2021 - 2023 Mewbot Developers <mewbot@quicksilver.london>
#
# SPDX-License-Identifier: CC0-1.0

-r requirements.txt
-r requirements-api.txt
-r requirements-io.txt
-r requirements-test.txt

# Installation toolchain
setuptools~=69.0

# Python Linting toolchain
pytest-github-actions-annotate-failures>=0.1.7

# Type checking toolchain
types-PyYAML~=6.0

# Terminal colouring and formatting
clint>=0.5.1

# Master linting toolchain
mewbot-dev-tools